#sidebar {
    min-width: 250px;
    max-width: 270px;
    background: #617A74;
}
#sidebar .custom-menu .btn.btn-primary {
    background: #4B9482;
    border-color: #4B9482; 
}
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
    background: #4B9482 !important;
    border-color: #4B9482 !important; }